.section{
    background-color:black;
    margin:20px;
    
    
}
.title{
    color:white;
}
.subtitle{
    color:white;
}
/* Title -Tyndre */
.title-1{
    color:white;
    text-shadow: 4px 4px 4px goldenrod;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant-caps: small-caps;
    font-weight:900;
    font-size:200px;
    
   
}
.subtitle-1{
    color:turquoise;
   

    /*jumbortron image */
}
.hero {
    background-image:url("./images/AdobeStock_91736536_Preview.jpeg");
    height:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;

}


.hero-body{
    height: 500px;
}


.container2{
    background-color:red;
}
